

.member_div{
    background-color: transparent;
    width:40vw;
    max-width: 400px;
    min-width: 300px;
    
    
    display: flex;
    flex-direction: column;
    
    position: relative;
    
}

.Namediv{
    background-color: var(--background-color);
    
    bottom: 0rem;
    z-index: 3;
    justify-content: left;
    align-items: start;
    padding: .5rem;
    gap:5px;
    flex-direction: column;
    display: flex;

}

.member_image_normal{
    width: 100%;
    height:100%;
    opacity: 1;
    object-fit: cover;
    transition: .5s;
    aspect-ratio: 2 / 3;
    
}

.member_image_hobby{
    width:100%;
    height:100%;
    
    object-fit: cover;
    opacity: 0;
    position: absolute;
    transition: .5s;
}

.member_div:hover > .member_image_normal{
    opacity: 0;
    transition: .5s;
}

.member_div:hover > .member_image_hobby{
    opacity: 1;
    transition: .5s;
    z-index: 1;
    aspect-ratio: 2 / 3 !important;
    
}